.ag-timed-events .text-container header + .ag-track-text{
    border-color: $main-brand-alt;
}

.ag-speaker {
    .inner {
        .ag-speaker-group.ag-role-active{
            border-color: $main-brand;
        }
        .ag-additional {
            color:#fff !important;
            background: $main-brand;
        }
    }
}

