


// //  Hero buttons
// .tm-btn-large-solid {
//     background-color:$main-brand-alt;
//     color: #000;
//     &:hover {
//         color: #000;
//         background-color:$main-brand-alt-hover;
//     }      
// }

// .tm-btn-large-hollow {
//     background-color: transparent;
//     border: 1px solid $main-brand;
//     color: $main-brand;
//     &:hover{
//         border: 1px solid $main-brand !important;
//         color: $main-brand !important;
//     }
// }



//  Hero buttons
.tm-btn-large-solid {
    background-color:$main-brand-alt;
    color: #000;
    &:hover{
        background-color:$main-brand-alt-hover;
        color: #000;
    }
}

.tm-btn-large-hollow {
    background-color: transparent;
    border: 1px solid $main-brand;
    color: $main-brand;
    &:hover{
        border: 1px solid $main-brand-hover;
        color: $main-brand !important;
    }
}

// Hollow buttons on black colour bgd
.event-text.ev-global-brand-color{
    .tm-btn-large-solid {
        &:hover{
            background: $main-brand-alt-black-bgd;
        }
    }
}

.gform_footer input[type="submit"]{
    color: #000;
    &:hover{
        color: #000;
    }
}